html, body, .fill {
    height: 100%;
}

canvas {
	height: 100%;
	width: 100%;
}

.control {
    color: #428bca;
    font-weight: bold;
}

.controls {
    padding-top: 10px;
    padding-bottom: 10px;
}
